@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}
header .menu-btn {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 30px;
  border: none;
  background: none;
  padding: 0;
}

header .btn-line {
  display: block;
  width: 100%;
  height: 3px;
  background: #2978b5;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
.dark header .btn-line {
  background: #cdcdff;
}

/*Animate lines*/
header .menu-btn.open .btn-line:nth-child(2) {
  opacity: 0;
}

header .menu-btn.open .btn-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

header .menu-btn.open .btn-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #2978b5 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

.slider-block .swiper-nav-btns {
  display: flex;
  justify-content: flex-end;
  gap: 0 20px;
  margin-top: 20px;
}
.slider-block .prev {
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.slider-block .next {
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.slider-block .slick-prev:before,
.slider-block .slick-next:before {
  content: none;
}
/* .slider-block .item .txt-box {
  opacity: 0;
  visibility: hidden;
}
.slider-block .slick-slide.slick-current .item .txt-box,
.slider-block .swiper-slide-active .item .txt-box {
  opacity: 1;
  visibility: visible;
} */
